/* ===== Common style ======*/
ul,
ol {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* ======/Common style =======*/
/* ======== Header style =======*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .part-logo {
  color: #2e2f42;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* =========/Header style =====*/
/* ========== Hero style =======*/
.hero-section {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/*==========/Hero style =======*/
/*===========Advanteges style =====*/
.list-item-title,
.team-item-title,
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list-item-text,
.team-item-text,
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*=========/Advanteges style =====*/
/*=========Team style ===========*/
.team {
  background-color: #f4f4fd;
}
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-item-title,
.team-item-text {
  text-align: center;
}
.team-item {
  background-color: #ffffff;
}
/*========/Team style ==========*/
/*=========Portfolio style =======*/
/*========/Portfolio style ======*/
/*===========Footer style ======*/
.page-footer {
  background-color: #2e2f42;
}
.footer-logo .part-logo {
  color: #f4f4fd;
}
.page-footer .footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/*=======/Footer style ========*/
